[user]
	email = pieter@frenssen.be
	name = Pieter Frenssen
[color]
	branch = auto
	status = auto
	diff = auto
	ui = true
[branch]
	autosetuprebase = always
[core]
	editor = /usr/bin/vim
	mergeoptions = --no-edit
[push]
	default = simple
[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
